body {
   background-color:#A7192F;
}

h3 {
   color:#C35662;
}

h1 {
    font-family:"Helvetica", sans-serif;
    font-weight:normal;
}


table, th, td {
   border: 1px solid #C1C2C1;
   border-collapse:collapse;
   text-align:left;
   table-layout:fixed;
}

th {
   background-color: #DDDDDD;
   padding:5px;
}

td {
    padding:10px;
}

table {
    width:100%;
}

.calculator_container {
   width:90%;
   height:90%;
   margin-left:5%;
   background-color:#FFFFFF;
   padding:20px;
   padding-top:30px;
   margin-top:30px;
}

.calculator {
   background-color:#E9EEF1;
   border-color:#DDE9EB;
   border-width:3px;
   border-style:solid;
   display:inline-block;
   width:70%;
   padding:30px;
   padding-left:20px;

}

.button {
   background-color:#A7192F;
   display:inline-block;
   float:right;
   color:#FFFFFF;
   padding:10px;
   padding:12px;
   margin-left:15px;
   margin-top:15px;
   width:80px;
   text-align:center;
   border-radius:5px;
   cursor:pointer;
}

#table_title {
   background-color: #DDDDDD;
   font-weight: bold;
}

.gpa {
    margin-left:10px;
}
